*{
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;

}
.slots{
        border: 1px solid;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 90%;
    }

    .slots:hover{
        transform: translatex(5%);
        border-color: green;
        transition: ease-in-out .5s;
    }