*{
    margin: 0px;
    padding: 0px;
}
.searchip{
    width: 40vw;
}

.Sidebarul{
        display: flex;
        flex-direction: column;
       background-color: #5463FF;
        margin-top: 1rem;
       

    }

.sidebarli{
    color: #ECECEC;
    cursor: pointer;
    padding: 5px;
    list-style: none;
    display: inline-block;
    margin: 10px 0px;
    font-weight: bold;
}

.sidebarli:hover{
    border: 1px solid #FFC300;
    transition: ease-in-out .2s;
}